@import "tailwindcss";
* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 600


}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.roboto-sens {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 0px 4px lightgray;

}

header img {
    width: 150px;
    margin-right: 39%;
    position: relative;
    animation: headerimg 2s 1;
    transition: 2s ease;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    animation: headernav 2s 1;
    position: relative;
    transition: 2s ease;
}

header button {
    margin: 10px;
    border-radius: 7px;
    width: 72px;
    height: 32px;
    border: 0.3px solid black;
    background-color: white;
    transition: 0.5s ease;

}
.bt1{
    border: 0.3px solid rgb(172, 170, 170);
}

.bt3 {
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bt2 {
    color: white;
    background-color: #c21760;
    border: none;
}

.bt4 {
    border: none;


}

header button:hover {
    transform: scale(1.2);
}

@keyframes headernav {
    0% {
        left: 600px;
    }

    100% {
        left: 0px;
    }

}

@keyframes headerimg {
    0% {
        right: 600px;
    }

    100% {
        right: 0px;
    }

}

.bt1:hover {
    background-color: #c21760;
    border: none;
    color: #ffffff;
    box-shadow: 1px 1px 3px gray;


}

.bt2:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 1px 1px 3px gray;


}

.bt3:hover {
    box-shadow: 1px 1px 3px gray;

    border-radius: 60%;
}

.bt4:hover {
    box-shadow: 1px 1px 3px gray;
    border-radius: 60%;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 500px;
    padding: 0px 32px;
}

.hero1left {
    margin-left: 80px;
    width: 50%;
    height: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 80px;


}
.hero1left h1{
    font-size: 35px;
    font-weight: 850;
    animation:hero1lefth1 2s 1;
    position: relative;
}

.hero2 {

    margin-right: -130px;
    width: 50%;
    height: 100%;
}

.hero2 img {
    width: 100%;
}

.leftcenter {
    height: 80PX;
    width: 550px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 15px;
    gap: 15px;
    box-shadow: 2px 2px 10px grey;
    border-radius: 12px;
    animation: leftcenter 2s 1;
    position: relative;


}

form {
    width: 80%;
    height: 48px;
    display: flex;
    border: 0.3px solid #ccc;
    padding: 0px 10px;
    justify-content: space-between;
    border-radius: 10px;

}

form input {
    border: none;
    width: 80%;
}

.mainbtn2 {
    width: 95px;
    height: 48px;
    color: #ffff;
    border: none;
    border-radius: 8px;
    background-color: #c21760;
    font-size: 13px;
    transition: 0.8s ease;
}

.mainbtn1 {
    border: none;
    color: #c21760;
    background-color: transparent;
    font-size: 13px;
}
.mainbtn2:hover{
    background-color: transparent;
    color: #c21760;
    box-shadow: 1px 1px 3px gray;
}
@keyframes leftcenter {
    0%{right: 600px;}
    100%{right: 0px;}
    
}
@keyframes hero1lefth1 {
    0%{bottom: 800px;}
    100%{bottom: 0px;}
    
}
.center1{
    font-size: 30px;
    margin: 10px;
    margin-bottom: 25px;
}
#center{
    width: 100%;
    height: 404px;
    background: url(../image/center-image.webp) no-repeat center;
    background-size: cover;

}
.centerdiv{
    width: 650px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 100px;
    box-shadow: 2px 2px 6px gray;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    bottom: 300px;
    background-color: #ffff;
    font-weight: 300;
}
.centerbtn{
    width: 150px;
    height: 43px;
    color: #fff;
    background-color: #c21760;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 3px gray ;

}
.centerdiv h3{
    font-size: 25px;
    color: #c21760;

}
.centerdiv p{
    font-weight: 300;
    font-size: 500;
}
.center2{
    margin-bottom: 40px;
    margin-left: 100px;
    font-size: 32px;
    font-weight: 800;
}
#center2{
    width: 90%;
    margin: 0px auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    position: relative;
    animation: center2 3s 1 ;
}
#center2 div{
    width: 100%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 1px 1px 3px gray;
    transition: 0.6s ease;
}
.karachi{
    background: url(../center-images/karachi.jpg) no-repeat center center;
    background-size: cover;
}
.islamabad{
    background: url(../center-images/islamabad.jpg) no-repeat center;
    background-size: cover;
}
.lahore{
    background: url(../center-images/lahore.jpg) no-repeat center;
    background-size: cover;
}
.faisalabad{
    background: url(../center-images/faislabad.jpg) no-repeat center;
    background-size: cover;
}
.bahawalpur{
    background: url(../center-images/bahawalpur.jpg) no-repeat center;
    background-size: cover;
}
.multan{
    background: url(../center-images/Multan.jpg) no-repeat bottom;
    background-size: cover;
}
.larkana{
    background: url(../center-images/larkana.jpg) no-repeat center;
    background-size: cover;
}
.gujrat{
    background: url(../center-images/Gujrat.jfif) no-repeat center;
    background-size: cover;
}
.gugranwala{
    background: url(../center-images/Gujranwala.jpg) no-repeat center;
    background-size: cover;
}
.rawalpindi{
    background: url(../center-images/rawalpindi.jfif) no-repeat center;
    background-size: cover;
}
.hyderabad{
    background: url(../center-images/hyderabad.jpg) no-repeat center;
    background-size: cover;
}
.peshawar{
    background: url(../center-images/peshawar.jpg) no-repeat center;
    background-size: cover;
}
.city{
    background-color: #fff;
    padding: 12px 23px;
    position: relative;
    top: 200px;
    border-radius: 10px;
    left: 5px;
    
}
#center2 div:hover{
    transform: scale(1.1);
}
@keyframes center2 {
    0%{left: 110%;}
    100%{left: 0%;}    
}

